@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  position: relative;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100dvh;
  /* Support for older iOS Safari */
  min-height: -webkit-fill-available;
}

@utility pb-safe-area-inset-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

@utility pt-safe-area-inset-top {
  padding-top: env(safe-area-inset-top);
}

@utility h-dvh {
  height: 100dvh;
}